body{
    background: orchid;
}
div{
    height: 200px;
    width: 200px;
    background: orange;
    margin: 50px;
    text-align: center;
    /*para varias sombras se colocan en linea separadas por ,*/
    box-shadow: 10px 10px 5px red, -10px -10px 5px green;
    /*para sombra interna escribir :inset*/
    /*si quieres invertit la sombra, colocas cantidades negativas*/
    /*lo 2 primeros valores son las sombras y 3er valor es el difunimano de los anteriores*/
}

/*sombra para texto text-shadow*/
p{
    position: relative;
    top: 90px;
    font-size: 20px;
    text-shadow: 3px 3px 0px gray;
}

/*la estructura de las sombras aplicadas en las cajas
box shadow o text-shadow, tienen 4 valores: desplazamiento horizontal
vertical, difuminado y color*/